@using CTRLE_Handel_oev_identity.Model
@model List<Product>
@{
}

<link rel="stylesheet" href="~/css/Product.css" asp-append-version="true">

@if (TempData["ErrorMsg"] != null)
{
	<div class="alert alert-danger">
		@TempData["ErrorMsg"]
	</div>
}

@if (TempData["SuccessMsg"] != null)
{
	<div class="alert alert-success">
		@TempData["SuccessMsg"]
	</div>
}

<div class="wrapper">

	@foreach (var p in Model)
	{
		<div class="card-container">
			<a asp-area="Product" asp-action="ProductDetails" asp-route-id="@p.ProductId">
				<img src="~/images/@p.ImageUrl" alt="@p.ProductName"/>
			</a>
				<h5 class="product-name">@p.ProductName</h5>
				<p>@p.Description</p>
				<p>@p.Price.ToString("C")</p>

			<div class="button-container">
				<form method="post" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@p.ProductId">
						<button type="submit">Lägg till i kundvagn</button>
					</form>

					<a asp-controller="Cart" asp-action="ViewCart">
						<button class="cart-button">Visa kundvagn</button>
					</a>
			</div>

		</div>
	}
</div>